__pycache__
*.py[cod]
*/build/
**/dist/
*.egg-info/
*.egg
.eggs/
*.whl
.serverless/
node_modules/
venv*/
.venv
.dev
.build
.build-serverless
.lint
.test
.code
.env
.cache/
.coverage
htmlcov/
pytest-out.xml
.pytest_cache/
.DS_Store
temp/
tmp/
.vscode/
scratch*
